/* ************************* nav bar start ********************** */
.navbar-nav{
    margin-left: 1000px;
}
.navbar button, .navbar-toggler span{
    border: none;
}
.navbar-brand{
    
    font-family: Arial;
    font-size: 20px;
}
.navbar a{
    font-weight: 900;
    border-bottom: 2px solid red;
}
.navbar a:hover{
    color:red;
}
/* ********************** nav bar end ****************************** */

/* ************************** banner start ************************ */
.banner{
    background-image: url(images/banner-img4.jpg);
    height:600px;
    background-size: cover;
}
.banner-text {
    position: relative;
    top:250px;    
}
.banner-text h1{
    color: rgb(218, 191, 12);
    text-align: start;
    
}
.banner-text h1{
    font-family: "Dancing Script", cursive;
}
.banner-text button{
    background-color: rgb(218, 191, 12) ;
    margin-top: 10px;
    margin-left: 40px;
}
.banner-text button:hover{
    background-color: rgb(220, 191, 6) ;
    color: white;
}
/* ***************************** banner end ******************* */

/* ********************** our story start ************************ */
.our-story h1{
    color:red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.our-story p{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* **************************** our story end *********************** */

/* ****************************** popular destination start ******************* */
.popular-destination h1{
    margin: 50px 0 30px 0; 
    color:red;  
    font-family: 'Times New Roman', Times, serif;
}
.popular-destination p{
    line-height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.popularDestination{
    margin-bottom: 100px;
}
.box{
    height:300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-size: cover;
    opacity: 0.6;

}
.box:hover{
    opacity: 1.0;
}
.box p{
    color: hsl(44, 97%, 50%);
    font-size: 30px;
    font-weight: bold;
    position:relative;
    top:200px;
    left:10px;
    border-bottom: 3px solid white;
}
#popular1{
    background-image:url(images/popular-destination\ \(1\).jpg) ;
}

#popular2{
    background-image:url(images/popular-destination\ \(2\).jpg) ;
}
#popular3{
    background-image:url(images/popular-destination\ \(3\).jpg) ;
}

#popular4{
    background-image:url(images/popular-destination\ \(4\).jpg) ;
}

#popular5{
    background-image:url(images/popular-destination\ \(5\).jpg) ;
}

#popular6{
    background-image:url(images/popular-destination\ \(6\).jpg) ;
}

#popular7{
    background-image:url(images/popular-destination\ \(7\).jpg) ;
   
}

#popular8{
    background-image:url(images/popular-destination\ \(8\).jpg) ;
}

/* *************************** popular destination end ************************* */


/* **************************** contact form  start ************************* */
.contact{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.contact-form {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffd000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.map{
    border-radius: 30px;
}


/* ****************************** contact form end ******************* */

/* *********************** footer start **************** */


.footer{
    background-color: black;
    color: white;
}
.footer-box {
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}

.social-icons a {
   font-size: 20px;
    margin-right: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

input[type="submit"] {
    background-color: #ad9f08;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e1b20b;
}

/* ***************************** footer end ********************** */